* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    margin: 10% 0;
}

.star {
    position: absolute;
    right: 10px;
    top: 25%;
}

.col-6 .form h3 {
    background-color: #ba2742;
    color: white;
    margin-bottom: 0;
    padding: 5px 10px;
}
.col-6 .form form {
    border: 1px solid gray;
    padding: 10px;
}

.col-6 .form form textarea {
    width: 100%;
    padding: 5px;
}
.col-6 .form form .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-6 .form form .container img {}

.col-6 .form form .container .button_ {
    margin-top: 15px;
}


.form_message {
    color: #ba2742;
    font-size: 10px;
}