* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(217, 209, 209);
}
a {
    text-decoration: none;
}
.bigbox {
    background-color: white;
}

/* header */
.header {
    position: relative;
}
.header > img {
    width: 100%;
}
.header .row {
    width: 100%;
    position: absolute;
    top: 0;
}
.header .row .col-5 {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -10px;
}
.header .row .col-5 .navbar {
    width: 180px;
}
.header .row .col-5 .navbar a {
    color: #333;
}
.header .row .col-5 .navbar a:hover {
    color: red;
}
.header .row .col-5 .navbar a img {}
.header .row .col-5 .navbar a span {}

.header .row .col-5 .box_input {
    width: 230px;
    height: 10px;
    display: flex;
    margin-left: 50px;
}
.header .row .col-5 .box_input .text_input {
    width: 200px;
    height: 23px;
    border: none;
}
.header .row .col-5 .box_input #button_ {
    width: 30px;
    height: 23px;
    opacity: 0;
}

/* navbar */
.navbar_1 {
    background-color: #0063cd;
    padding: 8px;
}
.navbar_1 a {
    color: white;
}
.navbar_1 a:hover {
    color: orange;
}
.navbar_1 a .fa-house-chimney {}

/* img content */
.content {
    height: 670px;
}
.content a {}
.content a img {
    width: 100%;
    height: 100%;
}

/* footer */
.navbar_2 {
    padding-right: 120px;
}
.navbar_2 .item {}
.navbar_2 .item img {}
.navbar_2 .item span {
    color: #0063cd;
    font-weight: bold;
    font-size: 18px;
}
.navbar_2 .item span:hover {
    color: red;
}