* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {}
.h3_ {}
.contact {
    padding: 40px 10px;
}

form {}
form input {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    margin: 20px 0 0 0;
}
form textarea {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 10px;
}
form button {
    width: 120px;
    height: 45px;
}

img {
    width: 100%;
    height: 100%;
}

.form_message {
    height: 15px;
    padding: 2px;
    color: #e04562;
    font-size: 10px;
}