* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
a {
    text-decoration: none;
}
a:hover {
    color: blue !important;
}
.row_header {
    margin-bottom: 10px;
}

.row_header .header_left {}
.row_header .header_left img {}

.row_header .header_right {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 0;
}

.row_header .header_right .navbar_1 {
    background-color: #007f49;
    padding: 5px 0;
    border-bottom-left-radius: 8px;
}
.row_header .header_right .navbar_1 a {
    color: white;
    padding: 10px;
}
/*  */
.row_header .header_right .title {
    margin: 10px 0;
}
.row_header .header_right .title a {
    color: green;
    font-size: 15px;
    padding: 0 10px;
}
/*  */
.row_header .header_right .input-group_ {
    margin: 0 10px;
}
.row_header .header_right .input-group_ .input_text {
    width: 322px;
}
.row_header .header_right .input-group_ .input-group-button {}
.row_header .header_right .input-group_ .input-group-button .input_button {
    padding: 2px 20px;
    background-color: #007f49;
    color: white;
    border: none;
}
/*  */
.header ul {
    list-style: none;
    background: linear-gradient(to right, #c7c8c9, #ebecec);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.header > ul li {
}

.header > ul li span {
    
}
.header > ul li a {
    color: #60585c;
}

/* content */
.row_2 .col_left {
    height: 710px;
}
.row_2 .col_left img {
    width: 100%;
    height: 100%;
}

.row_2 .col_right {
    padding-right: 0;
}
.col_right .content_1 {
    padding: 200px 5px 80px 20px;
    background-color: #c4151c;

}
.col_right .content_1 .title_ {
    margin: 15px;
    color: white;
    font-size: 22px;
}
.col_right .content_1 ul {
    color: white;
}
.col_right .content_1 a {
    color: white;
    font-size: 18px;
}
.col_right .table_1 {
}
.col_right .table_1 img {
    width: 229px;
}

/* footer */

.navbar_footer {}
.navbar_footer .nav-item_footer {
    border-bottom-left-radius: 8px;
    background: linear-gradient(to right, #c7c8c9, #ebecec);
}
.navbar_footer .nav-item_footer a {
    color: #56606a;
    font-size: 22px;
    margin: 0 50px;
}
.navbar_footer .nav-item_footer img {
    width: 30px;
}

.navbar_footer .nav-item_footer_2 {
    width: 100%;
    text-align: center;
}
